h1 {
  border: 2px solid rgb(192, 189, 189);
  border-radius: 3px;
  padding: 2px;
  margin-left: 2px;
  text-align: center;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.news {
  width: 300px;
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(109, 106, 106);
  border-radius: 3px;
}

img {
  max-width: 300px;
  border-radius: 2px;
}
